/* Definindo estilos para o meu novo sistema */

.bloco { width: 535px; background-color: #ccc; border: 2px solid #000 ; border-radius: 10px; margin: auto; padding: 10px; }

form h1, h2, h3, h4 { font-family: Helvetica, Verdana, Arial, sans-serif; }

form h1 { font-size: 26px; }

form h2 { font-size: 22px; }

form h3 { font-size: 20px; }

form input { border-radius: 5px; }

.blocoM { background-color: #fafaaf; }

.blocoP { background-color: #aa00d1; }