/*
   Copyright 2013 – Todos os direitos reservados
   Leandro Vieira Santos
*/

/* Adicionando um pequeno CSS reset */
* { margin: 0; padding: 0; text-color: #494647; }

body { background-color: #d9d9d9; }

h1 { font-family: 'Lantinghei TC', Arial, serif; font-size: 3.1em; font-weight: lighter; position: relative; margin-top: 100px; float: left; }

h2 {
    font-family: 'Andale Mono', 'Trebuchet MS', Helvetica, serif;
    font-size: 1.4em;
    font-weight: lighter;
    position: relative;
    float: left;
    letter-spacing: -0.15em;
}

p { font-family: Helvetica, Arial, serif; font-size: 1em; font-weight: lighter; width: 410px; position: relative; margin: 20px auto; float: left; }

img { width: 120px; height: 83px; margin: 15px 5px; padding: 10px; border: 0; position: relative; float: left; }

img:hover { border: #c9c9c9 2px solid; padding: 2px; }

/* Área do logotipo */
#logo { background: url('logo.png') no-repeat; width: 182px; height: 62px; margin: 10px 25px; position: relative; float: left; }


/* Definindo os menus superior */
#menuSuperior ul {
    padding: 0px;
    margin: 10px;
    float: right;
    list-style: none;
    line-height: 3em;
}

#menuSuperior ul li { display: inline; }

#menuSuperior ul li a {
    font-family: 'Lucida Grande', serif;
    font-size: 0.8em;
    padding: 2px 10px;
    float: left;
    color: #484546;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 5px;
}

#menuSuperior ul li a:hover {
    text-shadow: 0px 0px 5px #56b6d9;
}

/* -------------------------------------- */


.fundoEscuro { width: 100%; height: 100%; }

.banner { background: url('banner.png') no-repeat; width: 368px; min-height: 448px; position: relative; float: left; }

/* Definindo o cabeçalho */
.cabecalho { background: #fff; width: 100%; min-height: 70px; }

.corpoCabecalho { width: 900px; height: 70px; margin: auto; position: relative; }

/* Criando o corpo */
.corpoPrincipal { width: 900px; min-height: 448px; margin: 40px auto 0 auto; clear: both; }

.corpoTexto { width: 500px; min-width: 520px; min-height: 448px; position: relative; float: left; }

.corpoInferior { background-color: #ffffff; width: 900px; height: 235px; border-top: 5px solid #373435; margin: auto; }

.corpoInferiorRodape {
    background: url('textura_v2.png') repeat;
    width: 900px;
    height: 134px;
    border-top: 5px solid #d9d9d9;
    margin: auto;
    position: relative;
    float: left;
}

.conteudoTexto {
    width: 400px;
    min-height: 160px;
    position: relative;
    float: left;
    margin: 22px;
}

.conteudoTexto > p { font-family: Helvetica, Arial, serif; font-size: 0.75em; text-align: left; margin: auto; margin: 15px auto; }

/* Botões */
.botaoGrande {
    background: #56b6d9;
    width: 160px;
    height: 46px;
    border-radius: 4px;
    font-family: Helvetica, Arial, serif;
    font-size: 1.05em;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
    position: relative;
    float: left;
    vertical-align: bottom;
    margin-left: 230px;
}

.botaoGrande:hover { background: #fafafa; color: #cccccc; border: #56b6d9 1px solid; }

.botaoPequeno {
    background: #9baa33;
    width: 120px;
    height: 33px;
    border-radius: 4px;
    font-family: Helvetica, Arial, serif;
    font-size: 0.8em;
    font-weight: lighter;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
    position: relative;
    float: left;
    vertical-align: bottom;
    margin-left: 280px;
}

.botaoPequeno:hover { background: #fafafa; color: #cccccc; border: #9baa33 1px solid; }

.barraDivisoria {
    font-family: Helvetica, Arial, serif;
    font-size: 20px;
    color: #a7a7a7;
    line-height: 0.4em;
    width: 10px;
    min-height: 150px;
    position: relative;
    float: left;
    margin: 18px auto;
}

/* Definindo o rodapé e seus elementos
   NOTA: Se deseja definir o tamanho de uma fonte de modo estático, informe o tamanho em 'px'.
   Se deseja definir o tamanho de modo dinâmico, informe em 'em'.
   Por padrão, 1em = 16px
   Para converter o tamanho da fonte em pixels para em, basta dividir por 16;
        10px = 0.625em (10 / 16 = 0.625)
        12px = 0.7eem (12 / 16 = 0.75)
        22px = 1.375em (22 / 16 = 1.375)
*/
.rodape { width: 100%; min-height: 150px; margin: auto; position: relative; float: left; }

.corpoRodape {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.6em;
    max-width: 900px;
    height: 70px;
    margin: auto;
    position: relative;
}

/* Créditos do site */
#creditos { margin: 0px; height: 40px; line-height: 40px; position: relative; float: left; }

/* Menu Inferior - rodape */
#menuInferior ul {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;
    line-height: 3em;
}

#menuInferior ul li { display: inline; }

#menuInferior ul li a {
    padding: 10px 0 2px 8px;
    float: left;
    color: #484546;
    text-decoration: none;
    text-transform: uppercase;
}

#menuInferior ul li a:hover {
    text-shadow: 0px 0px 5px #56b6d9;
}
